:root {
  --bar-height: 24px;
  --foreground: rgba(255, 255, 255, 0.95);
  --background: rgba(0, 0, 0, 0.5);
}

.bar {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--bar-height);
  -webkit-user-select: none;

  color: var(--foreground);
  font-family: "SF Mono";
  display: grid;
  grid-template-areas: "spaces music title stats clock";
  grid-template-columns: auto auto 1fr auto auto;
  grid-column-gap: 20px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.2px;

  padding-right: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.bar.bg {
  z-index: -1;
}

.spaces {
  grid-area: spaces;
  background-color: var(--background);
  -webkit-backdrop-filter: blur(5px) saturate(120%);
  padding: 3px 6px;
}

.music {
  background-color: var(--background);
  -webkit-backdrop-filter: blur(5px) saturate(120%);
  padding: 3px 6px;
  grid-area: music;
  max-width: 50ch;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: 600;
}

.clock {
  background-color: var(--background);
  -webkit-backdrop-filter: blur(5px) saturate(120%);
  padding: 3px 6px;
  font-weight: 400;
  grid-area: clock;
}

.stats {
  background-color: var(--background);
  -webkit-backdrop-filter: blur(5px) saturate(120%);
  padding: 3px 6px;
  font-weight: 400;
  grid-area: stats;
  display: flex;
}

.stats .stat:not(:last-child) {
  display: inline-block;
  margin-right: 10px;
}

.title {
  font-weight: 400;
  grid-area: title;
  /* text-align: center; */
  position: relative;
}

.title-content {
  background-color: var(--background);
  -webkit-backdrop-filter: blur(5px) saturate(120%);
  padding: 3px 6px;

  /* position: fixed; */
  /* height: var(--bar-height); */
  /* line-height: var(--bar-height); */
  /* top: 0; */
  /* width: 60vw; */
  /* left: 50%; */
  /* transform: translateX(-50%); */

  text-overflow: clip;
  text-overflow: ellipsis;

  max-width: 25rem;

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1920px) {
  .music {
    max-width: 40ch;
  }
}

